		@font-face{
				font-family: techno;
				src: url(../curriculo/DIGI.ttf);
		}
		*{
			font-family: techno;
			color: rgb(255, 189, 47);
			font-size: 20px;
		}
		a{
			border: 1px solid blue;
		}
		body{
			height: auto;
			background-image: url();
			background-color: black;
		}
		input{
			background-color: rgb(0, 0, 0);
			border: solid 1px rgb(236, 171, 31);
			width: 20%;
			margin-left: 25%;
		}
		label, h2, h1{
			width: 50%;
			margin-left: 25%;
			
		}
		#div1{
			display: flex;
			flex-direction: column;
			height: 200px;
			justify-content: space-between;
			border: solid 1px rgba(0, 119, 255, 0.993);
			margin-bottom: 5px;
		}
		#div2{
			display: flex;
			flex-direction: column;
			width: auto;
			height: auto;
			margin-bottom: 1px;
			justify-content: flex-start;
			border: solid 1px rgba(0, 119, 255, 0.993);
		}

		#calcular{
			width: 50%;
			margin-left: 25%;
			color: white;
			border: 1px solid blue;
			background-color: black;
			margin: auto;
		}
		#calcular:hover{
			background-color: blue;
			color: white;
		}
		a:hover{
			background-color: blue;
			color: white;
		}
		#salvar{
			width: 50%;
			margin-left: 25%;
			margin-bottom: 1%;
			color: white;
			border: 1px solid blue;
			background-color: black;
		}
		#salvar:hover{
			background-color: blue;
			color: white);
			
		}