		*{
			color: blue;
			font-size: 20px;
		}
		body{
			background-color: black;
		}
		input{
			border: solid 2px blue;
			width: 20%;
			margin-left: 25%;
		}
		label, h2, h1{
			width: 50%;
			margin-left: 25%;
			border: solid 1px red;
		}
		#div1{
			display: flex;
			flex-direction: column;
			height: 200px;
			justify-content: space-between;
			border: solid 1px red;
			width: auto;
		}
		#div2{
			display: flex;
			flex-direction: column;
			width: auto;
			height: 300px;
			justify-content: flex-start;
			border: solid 1px red;
		}
		#calcular{
			width: 50%;
			margin-left: 25%;
			color: white;
			border: 1px solid blue;
			background-color: black;
		}
		#calcular:hover{
			background-color: blue;
			color: white;
		}
		#salvar{
			width: 50%;
			margin-left: 25%;
			color: white;
			border: 1px solid blue;
			background-color: black;
		}
		#salvar:hover{
			background-color: blue;
			color: red;
			
		}