		@font-face{
				font-family: techno;
				src: url(../curriculo/DIGI.TTF);
		}
		*{
			font-family: techno;
			color: rgb(11, 132, 168);
			font-size: 20px;
		}
		a{
			border: 1px solid blue;
		}
		body{
			height: auto;
			background-image: url();
			background-color: black;
		}
		input{
			
			background-color: rgb(0, 0, 0);
			
			width: 20%;
			margin-left: 25%;
		}
		label, h2, h1{
	
			width: 50%;
			margin-left: 25%;
			
		}
		#div1{
			display: flex;
			flex-direction: column;
			height: 200px;
			justify-content: space-between;
			border: solid 1px blue;
			margin-bottom: 5px;
		}
		#div2{
			display: flex;
			flex-direction: column;
			width: auto;
			height: auto;
			margin-bottom: 1px;
			justify-content: flex-start;
			border: solid 1px rgba(255, 255, 255);
			
		}

		#calcular{
			width: 50%;
			margin-left: 25%;
			color: rgb(7, 148, 243);
			border: 1px solid rgb(31, 145, 221);
			background-color: black;
			margin: auto;
		}
		#calcular:hover{
			background-color: blue;
			color: white;
		}
		a:hover{
			background-color: blue;
			color: white;
		}
		#salvar{
			width: 50%;
			margin-left: 25%;
			margin-bottom: 1%;
			color: white;
			border: 1px solid blue;
			background-color: black;
		}
		#salvar:hover{
			background-color: blue;
			color: white;	
		}
		#infoIMCIdealMenor, #infoIMCIdealMaior{
			color: white;
		}
		