body {
    background-image: url(../img/fundos.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

p {
    color: rgb(13, 241, 51);
    border: 1px rgb(123, 222, 235);
    border-style: outset;
    margin: 1%;
    background-color: black;

}
@font-face{
    font-family: techno;
    src: url(../DIGI.ttf);
}
* {
    font-size: 16px;
    font-family: techno;
    color: rgb(123, 222, 235);

}

#principal {
    display: grid;
    width: auto;
    height: auto;
    margin-top: 50px;
    grid-template-areas:
        "foto um dois tres"
        "foto um dois terra "
        "quatro cinco cinco cinco"
    ;
}

#foto {
    grid-area: foto;
    border: 2px rgb(123, 222, 235);

    border-style: outset;
    width: auto;
    height: auto;
    margin: 5px;
}

#um {
    grid-area: um;
    border: solid 2px rgb(123, 222, 235);
    width: auto;
    height: auto;
    margin: 5px;
}

#dois {
    grid-area: dois;
    border: solid 2px rgb(123, 222, 235);
    width: auto;
    height: fit-content;
    margin: 5px;
}

#tres {
    grid-area: tres;
    border: solid 2px rgb(123, 222, 235);
    width: auto;
    height: fit-content;
    margin: 5px;
}

#quatro {
    grid-area: quatro;
    border: solid 2px rgb(123, 222, 235);
    width: auto;
    height: auto;
    margin: 5px;
}

#cinco {
    grid-area: cinco;
    border: solid 2px rgb(123, 222, 235);
    width: auto;
    height: auto;
    margin: 2px;
}
#gif{
    grid-area: terra;
}

/* Caso o dispositivo seja um celular o layout seguirá como abaixo*/
@media (max-width: 1000px) {
    body {
        background-image: none  ;
        background-color: black;        
    }
    
    p {
        color: orange;
        border: 2px blue;
        border-style: outset;
        margin: 1%;
        background-color: black;
    
    }
    @font-face{
        font-family: techno;
        src: url(../DIGI.ttf);
    }
    * {
        font-size: 30px;
        font-family: techno;
        color: orange;
    
    }
    
    #principal {
        display: grid;
        width: auto;
        height: auto;
        grid-template-areas:
            "foto"
            "um"
            "dois"
            "tres"
            "quatro"
            "terra"
            "cinco"
        ;
    }
    
    #foto {
        grid-area: foto;
        border: 1px blue;
    
        border-style: outset;
        width: auto;
        height: auto;
        margin: 5px;
    }
    
    #um {
        grid-area: um;
        border: solid 1px blue;
        width: auto;
        height: auto;
        margin: 5px;
    }
    
    #dois {
        grid-area: dois;
        border: solid 1px blue;
        width: auto;
        height: fit-content;
        margin: 5px;
    }
    
    #tres {
        grid-area: tres;
        border: solid 1px blue;
        width: auto;
        height: fit-content;
        margin: 5px;
    }
    
    #quatro {
        grid-area: quatro;
        border: solid 1px blue;
        width: auto;
        height: auto;
        margin: 5px;
    }
    
    #cinco {
        grid-area: cinco;
        border: solid 1px blue;
        width: auto;
        height: auto;
        margin: 2px;
    }
    #gif{
        border: none;
        margin-left: 33%;
        grid-area: terra;
    }
}